* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  height: 100% auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top-area {
  background-color: #1f2937;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}
.header-area {
  margin-top: 1rem;
  width: 70%;
  height: 10%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-area h2 {
  font-weight: 700;
  font-size: 2rem;
}

ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
}

a:hover {
  color: gray;
}

/* // sign up  */

.sign-up {
  width: 70%;
  display: flex;
  margin-top: 5%;
}

.sign-up-left {
  width: 50%;
  color: white;
}

.sign-up-left h1 {
  font-size: 3rem;
  padding-right: 20px;
  width: 80%;
}

.sign-up-left p {
  font-size: 18px;
  width: 80%;
}

.sign-up-left button {
  width: 8rem;
  height: 2rem;
  background-color: #3882f6;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  color: white;
  margin-top: 10px;
  font-weight: 700;
}

.sign-up-left button:hover {
  cursor: pointer;
  background-color: lightblue;
  color: gray;
}

.sign-up-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: grey;
  color: white;
  font-weight: 700;
}

/* // main */
#main {
  width: 100%;
}

/* // some random information */
.random-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

.random-info h1 {
  font-size: 2rem;
}

.subtext-area {
  display: flex;
  margin-top: 3rem;
  gap: 100px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-img {
  width: 10rem;
  height: 10rem;
  border: 5px solid #3882f6;
  border-radius: 10px;
}

.box p {
  width: 10rem;
  text-align: center;
  margin-top: 10px;
}

/* testimonials */
.testimonial {
  background-color: #e5e7eb;
  padding: 7rem 0;
  display: flex;
  justify-content: center;
}

.text-area {
  width: 55%;
}

.quote {
  font-size: 36px;
}

.author {
  text-align: right;
  font-weight: 700;
  font-weight: bold;
  font-size: 1.5rem;
}

/* call to action */

.call-to-action {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}

.action-box {
  padding: 3rem 0;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30%;
  background-color: #3882f6;
  border-radius: 10px;
}

.action-text {
  color: white;
}

.action-text p {
  font-size: 1rem;
}

.action-button {
  width: 8rem;
  height: 2.5rem;
  border-radius: 5px;
  background: transparent;
  border: 2px solid white;
  font-size: 1rem;
  color: white;
  font-weight: 700;
}

.action-button:hover {
  cursor: pointer;
  background-color: lightblue;
  color: gray;
}

.footer {
  width: 100%;
  background-color: #1f2937;
  color: white;
  font-weight: 700;
  padding: 3rem 0;
  text-align: center;
}
